# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# unchecked folders 
anova/
bestNormalize/
biplot/
cacao_ecuador/
function_help-/
try-qvcalc/
fix_spp_names/
.Rproj.user
