# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# unchecked folders 
anova/
try-qvcalc/
cacao_ecuador/
function_help-/
seed_longevity/
.Rproj.user
